/* PHASE 3: Layout */
.content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: #c4e7ffc5;
    width: 900px;
    border: 1px solid #f8e321;
    border-top: 0;
}

.content-sidebar {
    width: 200px;
    min-height: 200px;
    padding: 20px;
    padding-right: 19px;
    border-right: 1px solid #ccc;
}

.content-main {
    width: 620px;
    min-height: 200px;
    padding: 20px;
}